<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
    <li><a href="{% url 'crm:create_ticket' %}">New Ticket</a></li>
    <li><a href="{% url 'crm:tickets' %}">Tickets</a></li>
    <li><a href="{% url 'crm:client' %}">Clients</a></li>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="{% url 'crm:create_ticket' %}">Sass</a></li>
    <li><a href="{% url 'crm:tickets' %}">Components</a></li>
    <li><a href="{% url 'crm:client' %}">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>
  

  <script>
      $(document).ready(function(){
    $('.sidenav').sidenav();
  });
  </script>

