{% include 'crm_temps/forms/dropdown-filter.html' %}



    </li>
    
	<form id='ff' method="GET" action="{% url 'crm:ticket_detail' %}" id="profile_tickets">
		
					<table class='striped responsive-table-vertical'>
						<caption>Active Issues</caption>
						<thead>
	          				<tr>
	          					<th>Technician</th>
	          					<th>Client</th>
	              				<th>Ticket Title</th>
	              				<th>Start Date</th>
	              				<th>Status</th>
	          				</tr>
	    				</thead>
	     				<tbody>
	     				{% for tickets in tickets %}
	     				
	          			<tr>
	        				
	          				<td data-label='Technician'>{{ tickets.technician}}</td>	
	          				<td data-label='Client'><{{ tickets.clientid }}</td>          			
				            <td data-label='Ticket Title'>{{ tickets.ticket_title }}</td>
				            <td data-label='Start Date'>{{ tickets.ticketstartdate }}</td>
				            <td data-label='Ticket Status'>{{ tickets.ticket_status }}</td>
				            <td><button value="{{ tickets.oid }}" name="ticket" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">check</i></button></td>
				           
	          			</tr>

	          			{% endfor %}
	        			</tbody>
					</table>
				</form>


<script>


	$(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
    $('.collapsible').collapsible();
    $('.datepicker').datepicker();
    $('select').formSelect();

		$('#tickettab').click(function(){
			var datastring = $('#filter_form').serialize();
			$.get($('#filter_form').attr('action'), datastring, function(data){
				$('#test1').html(data);
			 
		})
			})
  });
</script>

