{% include 'crm_temps/forms/dropdown-filter.html' %}



    </li>
    
	<form id='ff' method="GET" action="{% url 'crm:ticket_detail' %}" id="profile_tickets">
		
					<table class='striped responsive-table-vertical'>
						<caption>Active Issues</caption>
						<thead>
	          				<tr>
	          					<th>Technician</th>
	          					<th>Client</th>
	              				<th>Ticket Title</th>
	              				<th>Start Date</th>
	              				<th>Status</th>
	          				</tr>
	    				</thead>
	     				<tbody>
	     				{% for tickets in tickets %}
	     				
	          			<tr>
	        				
	          				<td data-label='Technician'>{{ tickets.technician}}</td>	
	          				<td data-label='Client'>{{ tickets.clientid }}</td>          			
				            <td data-label='Ticket Title'>{{ tickets.ticket_title }}</td>
				            <td data-label='Start Date'>{{ tickets.ticketstartdate }}</td>
				            <td id='ticketStatus' name="{{ tickets.ticket_status }}" data-label='Ticket Status'>{{ tickets.ticket_status }}</td>
				            <td><button value="{{ tickets.oid }}" name="ticket"><i class="material-icons">check</i></button></td>
				           
	          			</tr>

	          			{% endfor %}
	        			</tbody>
					</table>
				</form>


<script>


	$(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
    $('.collapsible').collapsible();
    $('.datepicker').datepicker();
    $('select').formSelect();

		$('#test1 #tickettab').click(function(){
			var datastring = $('#filter_form').serialize();
			$.get($('#filter_form').attr('action'), datastring, function(data){
				$('#test1').html(data);
			 
		});
			});
		$('#ticketStatus').each(function(){
			if ($('#ticketStatus').attr('name') == '5') {
			($('td button').attr('class','btn-floating btn-large waves-effect waves-light red teal lighten-1'));
		} 
		else if ($('#ticketStatus').attr('name') == '1') {
			($('td button').attr('class','btn-floating btn-large waves-effect waves-light red red lighten-3'));
			($('td button i').text('warning'));
		}
		else if ($('#ticketStatus').attr('name') == '2') {
			($('td button').attr('class','btn-floating btn-large waves-effect waves-light red blue lighten-1'));
			($('td button i').text('av_timer'));
		}
		else if ($('#ticketStatus').attr('name') == '3') {
			($('td button').attr('class','btn-floating btn-large waves-effect waves-light red orange lighten-1'));
		}
		else if ($('#ticketStatus').attr('name') == '4') {
			($('td button').attr('class','btn-floating btn-large waves-effect waves-light red purple lighten-1'));
		};
	});
  });
</script>

