

  <!--Base template for ticket table. Uses Ajax and Jquery to render -->	
	<form id='ff' method="GET" action="{% url 'crm:ticket_detail' %}" id="profile_tickets">



					<table class='striped responsive-table-vertical'>
						<caption>Active Issues</caption>
						<thead>
	          				<tr>
	          					<th>Technician</th>
	              				<th>Ticket Title</th>
	              				<th>Start Date</th>
	              				<th>Status</th>
	          				</tr>
	    				</thead>
	     				<tbody>	          			
	        			</tbody>
					</table>
				</form>


<script>
	$(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
    
  });
</script>

