<ul class="collapsible">
    <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
        <div class="collapsible-body">
            <form id='filter_form' method="GET" action="{% url 'crm:ticket-filter' %}">
                <div class="input-field col s12">
                    <select multiple name="tech_filter">
                        {% for technician in technician %}
                        <option value="{{ technician.nickname }}">{{ technician.nickname }}</option>
                        {% endfor %}
                    </select>
                    <label>Materialize Multiple Select</label>
                </div>

                <div class="input-field col s12">
                    <select multiple name="client_filter">
                        {% for client in client %}
                        <option value="{{ client.oid }}">{{ client.clientname }}</option>
                        {% endfor %}
                    </select>
                    <label>Materialize Multiple Select</label>
                </div>
                <div class="input-field col s12">
                    <select multiple name="status_filter">
                        {% for status in status %}
                        <option value="{{ status.oid }}">{{ status.status }}</option>
                        {% endfor %}
                    </select>

                    <label>Materialize Multiple Select</label>
                </div>

             
      
            </form>
        </div>
        </div>
    </li>
</ul>
<button id="tickettab">Filter</button>


<script type="text/javascript">
  $(document).ready(function(){
      $('.dropdown-trigger').dropdown();
       $('.collapsible').collapsible();
  });
</script>