
{% include 'crm_temps/forms/multi-page-new-ticket.html' %}


<a id="ajax_url" href="{% url 'crm:ajax_req' %}"></a>


<style>
/* label focus color */
 .input-field input:focus + label {
   color: red !important;

 }
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background-color: lightgrey;
 }
 </style>

<script>
    $("[name='#id_enddate']").focusout(function(){
        var sd = new Date($('#id_startdate').val());
        var ed = new Date($('#id_enddate').val());
        var time = (ed - sd)/1000;
        $('#id_time_spent_minutes_field').attr("value", time);        
    });
    $(document).ready(function(){
    $('select').formSelect();
    $('datepicker').datepicker();
  });
</script>
